extends layout

block content
    h1 Home
    canvas(id='chart0' width='500' height='300')
    legend(for='chart0')
    canvas(id='chart1' width='500' height='300')
    legend(for='chart1')
    canvas(id='chart2' width='500' height='300')
    legend(for='chart2')
    script(src='styles/script.js')