doctype html
html
    head
        link(href="styles/style.css" rel="stylesheet")
        link(href="https://fonts.googleapis.com/css?family=Nunito" rel="stylesheet")
        block vars
        title #{title}
    body
        header
            nav
                a(href='/' id='nav-img')
                    img(src="/images/nclogo.png")            
                a(href='/') HOME
                -if(user == null){
                a(href='/register' class='nav-right') REGISTER
                a(href='/login' class='nav-right' id='log-float') LOGIN
                -}else{
                a(href='/edit') EDIT PROFILE
                -if(user.userType == 'admin'){
                a(href='/manage') MANAGE USERS
                -}
                a(href='/logout' class='nav-right' id='log-float') LOGOUT
                a(href='/edit' class='nav-right' id='log-float') Hi, #{user.username}!
                -}
                
        block content
        footer