extends layout

block content
    h1(id="regTitle") REGISTER AS A NEW STUDENT
    div(id='register', class='user-form')
        span
            form(id='form', method='post', action='/register')
                input(type='text', name='username', placeholder='Username' required)
                input(type='password', name='password', placeholder='Password' required)
                input(type='text', name='email', placeholder='Email' required)
                input(type='text', name='age', placeholder='Age' required)
                .question-group
                    h3(class="q") #1 Which degree are you most interested in?
                    select(name='degree')
                        option(value='BSCS') BSCS
                        option(value='BSGD') BSGD
                        option(value='BSWD') BSWD
                        option(value='BSIS') BSIS
                        option(value='BSTM') BSTM
                .question-group
                    h3(class="q") #2 Which region of the U.S. are you from?
                    select(name='region')
                        option(value='Eastern U.S.') Eastern U.S.
                        option(value='Western U.S.') Western U.S.
                        option(value='Northern U.S.') Northern U.S.
                        option(value='Southern U.S.') Southern U.S.
                        option(value='Outside U.S.') Outside U.S.
                .question-group
                    h3(class="q") #3 What is your expected graduation year?
                    select(name='gradYear')
                        option(value='2017') 2017
                        option(value='2018') 2018
                        option(value='2019') 2019
                        option(value='2020 or greater') 2020 or greater
                        option(value='Already graduated') Already graduated
                .question-group
                    h5(class='acc') Create account as:
                    select(name='accType' class="selacc")
                        option(value='admin') Admin
                        option(value='student') Student
                input(type='submit', value='Register', class='form-button', id='register-button')