/* GLOBAL */
body{
    margin:0;
    padding:0;
    font-family:'Nunito', sans-serif;
    background-color:#636363;
}

h1{
    text-align:center;
    color:#FFCC00;
    font-size:50px;
}

h1#regTitle{
font-size:30px;
margin-bottom:0;
}

.loginbody{
    height:100vh;
    width:100%;
    position:fixed;
    top:0;
    z-index:-5;
    background-image:url("/images/loginbg.png");
}
/* NAV BAR STYLE */
nav {
    background-color: rgba(43, 41, 41, 0.931);
    width: 100%;
    overflow: hidden;
    height: 60px;
    position:relative;
    top: 0;
    z-index:1;
}

nav a{
    margin-left: 20px;
    float: left;
    display:  block;
    padding: 16px 15px;
    font-size: 24px;
    color: #fff;
    text-decoration: none;
    transition: .15s;
}

nav a:hover{
    background-color:#ffcc00;
}
.nav-right {
    float: right;
    margin-right:20px;
    margin-left:0;
}

#log-float{
    margin-right:0px;
}

.nav-right:hover{
    background:none;
    color:#ffcc00;
}

#nav-img {
    padding: 5px 0;
}

#nav-img:hover{
    background: none;
}

nav img {
    height: 50px;  
}



/* FORM */


.user-form{
    width: 100%;
    float: left;
    text-align: center;
    position: relative;
    margin: 20px 0;
}
.user-form h2{
    margin: 0;
}
.user-form form input {
    margin: 15px auto;
    padding: 5px;
    display: block;
    border: hidden;
    border-radius: 2px;
    margin-bottom: 5px;
    background-color: #eee;
    font-family:'Nunito', sans-serif;
}

.form-button{
    transition: .2s;
    font-size:20px;
}
.form-button:hover{
    cursor: pointer;
    border-radius: 10px;
}
#login-button:hover, #register-button:hover{
    background-color: #FFCC00
}

.question-group{
display:block;
}

h3.q{
  display:inline-block;
  text-align:left;
  width: 400px; 
  color:#ffcc00;
}

select{
    width:140px;
    height:35px;
    font-size:13px;
}

#login{
    background:rgba(51, 51, 51, 0.774);
    width:30%;
    padding:20px;
    border-radius:20px;
    float:none;
    margin:auto;
}