/* GLOBAL */
body{
    margin:0;
    padding:0;
    font-family:'Nunito', sans-serif;
    background-color:#636363;
    background-image:url("/images/loginbg.png"); 
    height:100vh;
}
.cookie{
    margin-left:1%;
}
h1{
    text-align:center;
    color:#FFCC00;
    font-size:50px;
}

h1#regTitle{
font-size:40px;
margin-bottom:10px;
}

.loginbody{
    height:100vh;
    width:100%;
    position:fixed;
    top:0;
    z-index:-5;
    background-image:url("/images/loginbg.png");
}
/* NAV BAR STYLE */
nav {
    background-color: rgba(43, 41, 41, 0.931);
    width: 100%;
    overflow: hidden;
    height: 60px;
    position:relative;
    top: 0;
    z-index:1;
}

nav a{
    margin-left: 20px;
    float: left;
    display:  block;
    padding: 16px 15px;
    font-size: 24px;
    color: #fff;
    text-decoration: none;
    transition: .15s;
}

nav a:hover{
    background-color:#ffcc00;
}
.nav-right {
    float: right;
    margin-right:20px;
    margin-left:0;
}

#log-float{
    margin-right:0px;
}

.nav-right:hover{
    background:none;
    color:#ffcc00;
}

#nav-img {
    padding: 5px 0;
}

#nav-img:hover{
    background: none;
}

nav img {
    height: 50px;  
}



/* FORM */

#register{
    background-color:rgba(51, 51, 51, 0.808);
    padding: 20px 0;
    width:70%;
    margin:auto;
    border-radius:25px;
}
.user-form{
    width: 100%;
    text-align: center;
    position: relative;
    margin: 20px 0;
}
.user-form h2{
    margin: 0;
}
.user-form form input {
    margin: 15px auto;
    padding: 5px;
    display: block;
    border: hidden;
    border-radius: 2px;
    margin-bottom: 5px;
    background-color: #eee;
    font-family:'Nunito', sans-serif;
}

.form-button{
    transition: .2s;
    font-size:20px;
}
.form-button:hover{
    cursor: pointer;
    border-radius: 10px;
}
#login-button:hover, #register-button:hover{
    background-color: #FFCC00
}

.question-group{
display:block;
}

h3.q{
  display:inline-block;
  text-align:left;
  width: 400px; 
  color:#ffcc00;
}

select{
    width:140px;
    height:35px;
    font-size:13px;
}

h5.acc{
color:#f2f2f2;
display:inline-block;
text-align:center;
width: 120px; 
margin-right:5px;
}

select.selacc{
    height:20px;
    text-align:left;
    width:80px;
}

#login{
    background:rgba(51, 51, 51, 0.774);
    width:30%;
    padding:20px;
    border-radius:20px;
    float:none;
    margin:auto;
}

/* MANAGER */

.tableBody{
    width:100%;
    text-align:center;
    margin-bottom:75px;
}

table.gridtable {
    text-align:center;
    margin:auto;
    width:60%;
    color: #333;
    border-width: 3px;
    border-color: #333;
    border-collapse: collapse;
}

table.gridtable th {
    border-width: 2px;
    padding: 8px;
    border-style: solid;
    border-color: #333;
    background-color: #ffcc00;
  }
  
  table.gridtable td {
    border-width: 1px;
    padding: 8px;
    border-style: solid;
    border-color: #333;
    background-color: #f2f2f2;
  }
  .chartBody{
      width: 98%;
      height:60%;
      background-color:rgba(51, 51, 51, 0.712);
      padding:0 0 50px 0px;
      margin:auto;
      border-radius:25px;
      
  }
  .col-4 {
    float: left;
}